<h1>Create Tweet</h1>

<form action="/tweets" method="post">
  <label>New Tweet</label>
  <input type="text" name="content" id="content" placeholder="content">
  <input type="submit" id="submit" value="Submit">
</form>
