<h1>Create a Tweet</h1>

<form action="/tweets" method="post">
  <label>New Tweet </label>
  <input type="text" name="content" id="content">
  <input type="submit" id="submit" value="Submit">
</form>
